<div class="h-full bg-blue-900 flex md:flex-col sm:flex-row items-center justify-center">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" title="home">
    <app-bean-item>
            <mat-icon>home</mat-icon>
    </app-bean-item>
    </a>
    <a routerLink="/create" routerLinkActive="active" ariaCurrentWhenActive="page" title="add new note">
    <app-bean-item>
            <mat-icon>create</mat-icon>
    </app-bean-item>
    </a>
    <a routerLink="/bin" routerLinkActive="active" ariaCurrentWhenActive="page" title="recycle bin">
    <app-bean-item>
            <mat-icon>delete</mat-icon>
    </app-bean-item>
    </a>
    <a routerLink="/calendar" routerLinkActive="active" ariaCurrentWhenActive="page" title="calendar">
    <app-bean-item>
            <mat-icon>date_range</mat-icon>
    </app-bean-item>
    </a>
</div>