<div class="h-full bg-blue-900 flex md:flex-col sm:flex-row items-center justify-center">
    <app-bean-item>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" title="home">
            <mat-icon>home</mat-icon>
        </a>
    </app-bean-item>
    <app-bean-item>
        <a routerLink="/create" routerLinkActive="active" ariaCurrentWhenActive="page" title="add new note">
            <mat-icon>create</mat-icon>
        </a>
    </app-bean-item>
    <app-bean-item>
        <a routerLink="/bin" routerLinkActive="active" ariaCurrentWhenActive="page" title="recycle bin">
            <mat-icon>delete</mat-icon>
        </a>
    </app-bean-item>
    <app-bean-item>
        <a routerLink="/calender" routerLinkActive="active" ariaCurrentWhenActive="page" title="calender">
            <mat-icon>date_range</mat-icon>
        </a>
    </app-bean-item>
</div>