<div  [class]="`${bgColour} text-white rounded-2xl p-3 cursor-pointer hover:outline-2 hover:shadow-2xl outline-offset-2 outline-blue-400 transition-all`">
    <div class="flex flex-row justify-between">
        <div class="text-2xl max-w-full overflow-clip overflow-ellipsis hover:scale-105 cursor-pointer transition-all" (click)="onItemClick()" title="edit">
            {{item.subject}}
        </div>
        <div *ngIf="!optionsDisplayed && !fromBin" (click)="optionsDisplayed=!optionsDisplayed" class="cursor-pointer hover:scale-120" title="options">
            <mat-icon>more_horiz</mat-icon>
        </div>
        <div *ngIf="optionsDisplayed || fromBin" class="flex flex-row">
            <div *ngIf="!fromBin">
                <textarea type="text" *ngIf="showTags" placeholder="add tags here ',' seperated"
                class="border-b-2 border-b-blue-500 text-blue-900 text-center focus:outline-0" [value]="tagNameList" (input)="onUpdateTags($event)" rows="1"></textarea>
                <button type="button" class="cursor-pointer m-0.5 hover:scale-120" title="tags" (click)="onClickTags()" >
                    <mat-icon>add_box</mat-icon>
                </button>
                <button type="button" class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickSetReminder()" [title]="!item.setForReminder?'set reminder':'clear reminder'">
                    <mat-icon>{{!item.setForReminder?'alarm_add':'alarm_off'}}</mat-icon>
                </button>
                <button class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickCompletionStatus()" [title]="!item.completionStatus?'status: pending':'status: done'">
                <mat-icon>{{!item.completionStatus?'timelapse':'done_all'}}</mat-icon>
                </button>
            </div>
            <button type="button" class="cursor-pointer m-0.5 hover:scale-120" title="move to recycle bin" (click)="onClickDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="m-1 max-w-full overflow-clip overflow-ellipsis"  [innerHtml]="parsedMD">
    </div>
</div>