<div [class]="`${bgColour} text-white rounded-2xl p-3`">
    <div class="flex flex-row justify-between">
        <div class="text-2xl flex flex-row">
            {{item.subject}}
            <div *ngIf="item.tags.length!=0" 
            class="text-sm mx-2 text-emerald-100 rounded-2xl p-1 cursor-pointer text-center" >
                <mat-icon class="hover:scale-150" title="tags" (click)="showTags=!showTags">keyboard_arrow_down</mat-icon>
                <div class="flex flex-row" *ngIf="showTags">
                    Tags: 
                    <div *ngFor="let tag of item.tags">
                       &nbsp;{{tag.name}} |
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!optionsDisplayed && !fromBin" (click)="optionsDisplayed=!optionsDisplayed" class="cursor-pointer hover:scale-120" title="options">
            <mat-icon>more_horiz</mat-icon>
        </div>
        <div *ngIf="optionsDisplayed || fromBin" class="flex flex-row">
            <div *ngIf="!fromBin">
                <button type="button" class="cursor-pointer m-0.5 hover:scale-120" title="add a tag" (click)="onClickAddTag()">
                    <mat-icon>library_add</mat-icon>
                </button>
                <button type="button" class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickSetReminder()" [title]="!item.setForReminder?'set reminder':'clear reminder'">
                    <mat-icon>{{!item.setForReminder?'alarm_add':'alarm_off'}}</mat-icon>
                </button>
                <button class="cursor-pointer m-0.5 hover:scale-120" (click)="onClickCompletionStatus()" [title]="!item.completionStatus?'status: pending':'status: done'">
                <mat-icon>{{!item.completionStatus?'timelapse':'done_all'}}</mat-icon>
                </button>
            </div>
            <button type="button" class="cursor-pointer m-0.5 hover:scale-120" title="move to recycle bin" (click)="onClickDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="m-1" [innerHtml]="parsedMD">
    </div>
</div>