<div class="flex flex-row flex-wrap h-fi/t max-h-screen scroll-auto overflow-scroll scroll-m-11 justify-center">
    <span *ngIf="fromBin" class=" flex-auto text-center text-3xl w-full m-2 text-amber-700">Local recycle bin
        <a routerLink="/bin/clear" routerLinkActive="active" ariaCurrentWhenActive="page" title="clear the recycle bin"> clear </a>
    </span>
    <span *ngIf="itemList.length === 0"  class="text-center text-5xl w-full m-2 text-emerald-700"> No Items Yet! </span>
    <div *ngFor="let todoItem of itemList" class="flex-auto mx-1 my-0.5 drop-shadow-sm">
        <app-todo-item [item]="todoItem"/>
    </div>
</div>    
